[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "third_party/cub"]
	path = third_party/cub
	url = https://github.com/NVlabs/cub.git
[submodule "third_party/thrust"]
	path = third_party/thrust
	url = https://github.com/thrust/thrust.git
