*.bin filter=lfs diff=lfs merge=lfs -text
website/** linguist-vendored
clients/** linguist-vendored
ee/tabby-ui/** linguist-vendored
ee/tabby-webserver/ui/** linguist-vendored
experimental/** linguist-vendored
