[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "third_party/thrust"]
	path = third_party/thrust
	url = https://github.com/NVIDIA/thrust.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/cpu_features"]
	path = third_party/cpu_features
	url = https://github.com/google/cpu_features.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/ruy"]
	path = third_party/ruy
	url = https://github.com/google/ruy.git
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
