@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3b373c;
  --ifm-color-primary-dark: #353236;
  --ifm-color-primary-darker: #322f33;
  --ifm-color-primary-darkest: #29272a;
  --ifm-color-primary-light: #413d42;
  --ifm-color-primary-lighter: #443f45;
  --ifm-color-primary-lightest: #4d484e;

  --ifm-background-color: #FFF8EC;
  --ifm-background-surface-color: #E9E1D4;

  --ifm-code-background: #FFFEFD;
  --openapi-monaco-background-color-light: var(--ifm-code-background) !important;
  --openapi-card-background-color: var(--ifm-code-background) !important;

  /* Fix footer hover color */
  --ifm-footer-link-hover-color: var(--ifm-color-gray-500);
}


.markdown a {
  color: var(--ifm-color-success-darkest);
}

.post a {
  display: flex;
}

.post a::after {
  content: "post";
  margin-left: auto;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: -6px;
  padding: 3px 6px;
  border: 1px solid var(--ifm-color-warning);
  border-radius: 3px;
  color: black;
  background: var(--ifm-color-warning);
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  height: 10px;
  font-weight: 600;
}

.get a {
  display: flex;
}

.get a::after {
  content: "get";
  margin-left: auto;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: -6px;
  padding: 3px 6px;
  border: 1px solid var(--ifm-color-success);
  border-radius: 3px;
  color: white;
  background: var(--ifm-color-success);
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  height: 10px;
  font-weight: 600;
}

.Playground .monaco-editor {
  padding-top: 15px;
}

.navbar__logo {
  height: 28px;
}

.hero__title {
  font-family: 'Azeret Mono';
  font-weight: normal;
}
