.ProseMirror {
  font-size: 10px !important;
  line-height: 1.2 !important;
  min-height: 20px !important;
  padding: 2px 0 !important;

  &:focus {
    outline: none !important;
  }

  .ProseMirror-selectednode {
    outline: none !important;
  }

  ::selection {
    background: transparent;
  }

  p {
    margin: 0 !important;
    line-height: 1.2 !important;
  }
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: var(--gray-4);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  width: 100%;
  white-space: nowrap;
  pointer-events: none;
  font-size: 10px !important;
  line-height: 1.2 !important;
}

:root[class~='dark'] .ProseMirror p.is-editor-empty:first-child::before {
  color: #6b7280;
}

.ProseMirror {
  display: flex;
  flex-direction: row;
  align-items: center;
}
