.source-mention {
  @apply inline-flex items-baseline space-x-1;
}

.tiptap .mention {
  @apply bg-muted text-muted-foreground px-1.5 py-0.5 rounded;
}

.tiptap p.is-editor-empty:first-child::before {
  @apply text-muted-foreground float-left;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.ProseMirror {
  outline: none !important;
}

.ProseMirror-focused {
  outline: none !important;
}
