/* Job Log Viewer */
.pf-v5-c-log-viewer__scroll-container {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251/var(--tw-bg-opacity));
    font-size: 1em;
}

/* reset log font */
.pf-v5-c-log-viewer__text {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
}