@keyframes sparkle {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  50% {
    opacity: 0.5;
    transform: scaleX(-1);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

.spark-animation {
  animation: sparkle 2s infinite;
}