@keyframes sparkle {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

.sparkle-animation {
  animation: sparkle 2s infinite;
}

.text-area-autosize::-webkit-scrollbar {
  display: none;
}