.steps-item-title {
  position: relative;
}
.steps-item:not(:last-child) .steps-item-title::after {
  position: absolute;
  top: 1rem;
  inset-inline-start: 100%;
  display: block;
  width: 9999px;
  height: 1px;
  background: hsl(var(--border));
  content: "";
}

.steps-item:last-child {
  flex-grow: 0;
}

.steps-item[data-state=finish] .steps-item-title::after {
  background: hsl(var(--primary));
}
.steps-item[data-state=error] .steps-item-title::after {
  background: hsl(var(--destructive));
}