<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.startup">
		<startup class="com.tabbyml.tabby4eclipse.Startup" />
	</extension>

	<extension point="org.eclipse.lsp4e.languageServer">
		<server
			id="com.tabbyml.tabby4eclipse.languageServer"
			label="Tabby"
			class="com.tabbyml.tabby4eclipse.lsp.ConnectionProvider"
			clientImpl="com.tabbyml.tabby4eclipse.lsp.LanguageClientImpl"
			serverInterface="com.tabbyml.tabby4eclipse.lsp.protocol.ILanguageServer"
			singleton="true"
			lastDocumentDisconnectedTimeout="600">
		</server>
		<contentTypeMapping
			id="com.tabbyml.tabby4eclipse.languageServer"
			contentType="org.eclipse.core.runtime.text">
		</contentTypeMapping>
	</extension>

	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			id="com.tabbyml.tabby4eclipse.preferences.main"
			name="Tabby"
			class="com.tabbyml.tabby4eclipse.preferences.MainPreferencesPage">
		</page>
	</extension>

	<extension point="org.eclipse.ui.views">
		<category
			name="Tabby"
			id="com.tabbyml.tabby4eclipse.views">
		</category>
		<view
			id="com.tabbyml.tabby4eclipse.views.chat"
			name="Tabby Chat"
			icon="images/chat.png"
			class="com.tabbyml.tabby4eclipse.chat.ChatView"
			category="com.tabbyml.tabby4eclipse.views">
		</view>
	</extension>

	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="toolbar:org.eclipse.ui.trim.status">
			<toolbar
				id="com.tabbyml.tabby4eclipse.statusbar">
				<control
					class="com.tabbyml.tabby4eclipse.statusbar.StatusbarContribution"
					id="com.tabbyml.tabby4eclipse.statusbar.statusbarContribution">
				</control>
			</toolbar>
		</menuContribution>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<category
			id="com.tabbyml.tabby4eclipse.commands"
			name="Tabby">
		</category>
		<command
			categoryId="com.tabbyml.tabby4eclipse.commands"
			name="Open Tabby Chat"
			id="com.tabbyml.tabby4eclipse.commands.openChatView">
		</command>
		<category
			id="com.tabbyml.tabby4eclipse.commands.inlineCompletion"
			name="Tabby">
		</category>
		<command
			categoryId="com.tabbyml.tabby4eclipse.commands.inlineCompletion"
			name="Accept"
			id="com.tabbyml.tabby4eclipse.commands.inlineCompletion.accept">
		</command>
		<command
			categoryId="com.tabbyml.tabby4eclipse.commands.inlineCompletion"
			name="Dismiss"
			id="com.tabbyml.tabby4eclipse.commands.inlineCompletion.dismiss">
		</command>
	</extension>

	<extension point="org.eclipse.ui.handlers">
		<handler
			class="com.tabbyml.tabby4eclipse.commands.OpenChatView"
			commandId="com.tabbyml.tabby4eclipse.commands.openChatView">
		</handler>
		<handler
			class="com.tabbyml.tabby4eclipse.commands.inlineCompletion.Accept"
			commandId="com.tabbyml.tabby4eclipse.commands.inlineCompletion.accept">
		</handler>
		<handler
			class="com.tabbyml.tabby4eclipse.commands.inlineCompletion.Dismiss"
			commandId="com.tabbyml.tabby4eclipse.commands.inlineCompletion.dismiss">
		</handler>
	</extension>

	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="com.tabbyml.tabby4eclipse.commands.openChatView"
			contextId="org.eclipse.ui.contexts.window"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M3+L">
		</key>
		<key
			commandId="com.tabbyml.tabby4eclipse.commands.inlineCompletion.accept"
			contextId="org.eclipse.ui.textEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="TAB">
		</key>
		<key
			commandId="com.tabbyml.tabby4eclipse.commands.inlineCompletion.dismiss"
			contextId="org.eclipse.ui.textEditorScope"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="ESC">
		</key>
	</extension>
</plugin>
