[[config]]
languages = ["python"]
line_comment = "#"
top_level_keywords = ["def", "from", "class", "import"]

[[config]]
languages = ["rust"]
line_comment = "//"
top_level_keywords = [
    "fn",
    "trait",
    "impl",
    "enum",
    "pub",
    "extern",
    "static",
    "trait",
    "unsafe",
    "use",
]

[[config]]
languages = ["java"]
line_comment = "//"
top_level_keywords = [
    "abstract",
    "public",
    "private",
    "class",
    "const",
    "exports",
    "extends",
    "implements",
    "static",
    "import",
    "interface",
    "module",
    "package",
    "var",
    "enum",
    "return",
]

[[config]]
languages = ["kotlin"]
line_comment = "//"
top_level_keywords = [
    "abstract",
    "public",
    "private",
    "companion",
    "class",
    "data",
    "const",
    "actual",
    "expect",
    "sealed",
    "suspend",
    "fun",
    "import",
    "interface",
    "package",
    "var",
    "val",
    "enum",
]

[[config]]
languages = ["javascript", "typescript", "javascriptreact", "typescriptreact"]
line_comment = "//"
top_level_keywords = [
    "abstract",
    "async",
    "class",
    "const",
    "export",
    "function",
    "interface",
    "module",
    "package",
    "type",
    "var",
    "enum",
    "let",
]

[[config]]
languages = ["go"]
line_comment = "//"
top_level_keywords = [
    "func",
    "interface",
    "struct",
    "package",
    "type",
    "import",
    "var",
    "const",
]

[[config]]
languages = ["ruby"]
line_comment = "#"
top_level_keywords = [
    "begin",
    "class",
    "def",
    "end",
    "ensure",
    "include",
    "module",
    "require",
    "rescue",
    "self",
]

[[config]]
languages = ["c"]
line_comment = "//"
top_level_keywords = [
    "const",
    "enum",
    "extern",
    "inline",
    "register",
    "static",
    "struct",
    "typedef",
    "union",
    "volatile",
]

[[config]]
languages = ["cpp"]
line_comment = "//"
top_level_keywords = [
    "auto",
    "class",
    "const",
    "concept",
    "enum",
    "extern",
    "inline",
    "namespace",
    "register",
    "static",
    "struct",
    "template",
    "typedef",
    "union",
    "volatile",
]

[[config]]
languages = ["csharp"]
line_comment = "//"
top_level_keywords = [
    "class",
    "struct",
    "enum",
    "interface",
    "abstract",
    "static",
    "extern",
    "namespace",
    "using",
    "var",
    "dynamic",
    "async",
]
