@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 96.55% 98.5%;
    --foreground: 38 3.1% 1%;

    --muted: 40 9.5% 91%;
    --muted-foreground: 38 1.55% 42.5%;

    --popover: 38 65.2% 92.5%;
    --popover-foreground: 38 3.1% 1.25%;

    --card: 38 65.2% 92.5%;
    --card-foreground: 38 3.1% 1.25%;

    --border: 38 8.1% 90%;
    --input: 38 8.1% 90%;

    --primary: 38 31% 25%;
    --primary-foreground: 38 0.62% 92.5%;

    --secondary: 38 1.55% 96.25%;
    --secondary-foreground: 38 2.86% 12.5%;

    --accent: 40 19% 91%;
    --accent-foreground: 38 2.86% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --successful: 140.62 84.21% 92.55%;
    --successful-foreground: 142.78 64.23% 24.12%;

    --ring: 38 31% 25%;

    --radius: 0.5rem;

    --selection: 200, 100%, 90%
  }

  .dark {
    --background: 0 0 12%;
    --foreground: 39 3.2% 99.35%;

    --muted: 39 16% 26.1%;
    --muted-foreground: 39 3.2% 58.7%;

    --popover: 39 58.6% 11.31%;
    --popover-foreground: 39 3.2% 99.35%;

    --card: 39 58.6% 11.31%;
    --card-foreground: 39 3.2% 99.35%;

    --border: 39 16% 26.1%;
    --input: 39 16% 26.1%;

    --primary: 39 32% 87%;
    --primary-foreground: 39 3.2% 8.7%;

    --secondary: 39 13% 21%;
    --secondary-foreground: 39 3.2% 99.35%;

    --accent: 39 16% 26.1%;
    --accent-foreground: 39 3.2% 99.35%;

    --destructive: 3.2 36.95% 60.2%;
    --destructive-foreground: 39 3.2% 99.35%;

    --successful: 143.81 61.17% 20.2%;
    --successful-foreground: 141.71 76.64% 73.14%;

    --ring: 39 32% 87%;

    --selection: 221, 13%, 28%
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.prose-full-width {
  max-width: none !important;
}
