@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 96.55% 98.5%;
    --foreground: 38 3.1% 1%;

    --muted: 40 9.5% 91%;
    --muted-foreground: 38 1.55% 42.5%;

    --popover: 38 65.2% 92.5%;
    --popover-foreground: 38 3.1% 1.25%;

    --card: 38 65.2% 92.5%;
    --card-foreground: 38 3.1% 1.25%;

    --border: 38 8.1% 90%;
    --input: 38 8.1% 90%;

    --primary: 38 31% 25%;
    --primary-foreground: 38 0.62% 92.5%;

    --secondary: 38 1.55% 96.25%;
    --secondary-foreground: 38 2.86% 12.5%;

    --accent: 40 19% 91%;
    --accent-foreground: 38 2.86% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 38 31% 25%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}