[package]
name = "tabby-webserver"
version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true

[features]
prod-db = []

[dependencies]
anyhow.workspace = true
argon2 = "0.5.1"
async-trait.workspace = true
axum = { workspace = true, features = ["ws", "headers"] }
bincode = "1.3.3"
chrono = { workspace = true, features = ["serde"] }
futures.workspace = true
hyper = { workspace = true, features = ["client"] }
jsonwebtoken = "9.1.0"
juniper.workspace = true
juniper_axum = "0.1"
juniper_graphql_ws = "0.4"
lazy_static.workspace = true
lettre = { version = "0.11.3", features = ["tokio1", "tokio1-native-tls"] }
mime_guess = "2.0.4"
pin-project = "1.1.3"
querystring = "1.1.0"
reqwest = { workspace = true, features = ["json"] }
rust-embed = "8.0.0"
serde.workspace = true
serde_json.workspace = true
tabby-common = { path = "../../crates/tabby-common" }
tabby-schema = { path = "../../ee/tabby-schema" }
tabby-db = { path = "../../ee/tabby-db" }
tarpc = { version = "0.33.0", features = ["serde-transport"] }
thiserror.workspace = true
tokio = { workspace = true, features = ["fs", "process"] }
tokio-tungstenite = "0.20.1"
tower = { version = "0.4", features = ["util", "limit"] }
tower-http = { version = "0.4.0", features = ["fs", "trace"] }
tracing.workspace = true
unicase = "2.7.0"
url = { workspace = true }
urlencoding = "2.1.3"
tabby-search = { path = "../tabby-search" }
octocrab = "0.38.0"
fs_extra = "1.3.0"
gitlab = "0.1610.0"
apalis = { version = "0.5.1", features = ["sqlite", "cron" ] }
uuid.workspace = true

[dev-dependencies]
assert_matches = "1.5.0"
tokio = { workspace = true, features = ["macros"] }
tabby-db = { path = "../../ee/tabby-db", features = ["testutils"] }
tabby-common = { path = "../../crates/tabby-common", features = [ "testutils" ] }
serial_test = { workspace = true }
temp_testdir = { workspace = true }
