<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.tabbyml.codecompletion.settings.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.tabbyml.codecompletion.settings.TabbySettings"
            id="com.tabbyml.codecompletion.TabbySettings"
            name="TabbyML">
      </page>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="com.tabbyml.codecompletion.TabbyCompletionProposalComputer"
            needsSortingAfterFiltering="false"
            requiresUIThread="true">
      </javaCompletionProposalComputer>
   </extension>


</plugin>
