transformers==4.18.*;platform_system=='Linux'
fairseq==0.10.2;platform_system=='Linux' or platform_system=='Darwin'
OpenNMT-py==2.2.*;platform_system=='Linux' or platform_system=='Darwin'
OpenNMT-tf[tensorflow]==2.22.*
pytest
