transformers==4.35.*;platform_system=='Linux'
fairseq==0.12.2;platform_system=='Linux' or platform_system=='Darwin'
OpenNMT-py==2.2.*;platform_system=='Linux' or platform_system=='Darwin'
OpenNMT-tf==2.30.*
tensorflow-cpu==2.11.*
pytest
wurlitzer==3.0.*;platform_system=='Linux'
torch==2.1.0
