/* Theming webview content: https://code.visualstudio.com/api/extension-guides/webview#theming-webview-content */

html {
  font-size: var(--vscode-font-size);
}

.client ::-webkit-scrollbar {
  display: none;
}

.client-vscode body {
  --background: var(--vscode-editor-background);
  --foreground: var(--vscode-editor-foreground);

  --border: var(--vscode-widget-border);
  --input: var(--vscode-input-background);
  --input-border: var(--vscode-input-border);

  --primary: var(--vscode-minimap-infoHighlight);
  --primary-foreground: var(--vscode-button-foreground);

  --popover: var(--vscode-editorSuggestWidget-background);
  --popover-foreground: var(--vscode-editorSuggestWidget-foreground);

  --accent: var(--vscode-editorSuggestWidget-selectedBackground);
  --accent-foreground: var(--vscode-editorSuggestWidget-selectedForeground);

  --ring: var(--vscode-focusBorder);

  --sidebar-background: var(--vscode-sideBar-background)
}

.editor-bg {
  background-color: hsl(var(--sidebar-background, var(--background)))
}
