html,
body {
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
body,
iframe {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
iframe {
  border-width: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

/* Static content page */
.static-content {
  padding: 0.65rem 1.2rem;
}

.static-content .avatar {
  display: flex;
  align-items: center;
}

.static-content .avatar img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  border-radius: 100%;
  margin-right: 0.4rem;
  padding: 0.2rem;
  border: 1px solid var(--vscode-editorWidget-border);
  background-color: rgb(232, 226, 210);
}

.static-content .title {
  margin: 0.45rem 0 0;
  font-size: 0.85rem;
}

.static-content p {
  line-height: 1.45;
  margin: 0.45rem 0;
}

.loader {
  width: 12px;
  height: 12px;
  border: 1px solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
