on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main

name: bloat

jobs:
  cargo_bloat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - run: bash ./ci/prepare_build_environment.sh

      - name: Run cargo bloat
        uses: wsxiaoys/cargo-bloat-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}