name: Build and release binaries.

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
      - 'nightly'
      - 'next-*'
      - "!*-dev.*"
      - '!vscode@*'
      - '!vim@*'
  pull_request:
    branches: [ "main" ]
    paths:
      - '.github/workflows/release.yml'

concurrency:
  group: ${{ github.workflow_ref }}-${{ github.head_ref || github.ref_name }}

  # If this is enabled it will cancel current running and start latest
  cancel-in-progress: true

env:
  RUST_TOOLCHAIN: 1.82.0

jobs:
  release-binary:
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    strategy:
      matrix:
        binary:
          - aarch64-apple-darwin
          - x86_64-manylinux_2_28
          - x86_64-windows-msvc
        include:
          - os: macos-latest
            target: aarch64-apple-darwin
            binary: aarch64-apple-darwin
            build_args: --no-default-features --features prod
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            binary: x86_64-manylinux_2_28
            container: quay.io/pypa/manylinux_2_28_x86_64
            build_args: --no-default-features --features static-ssl,prod
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            binary: x86_64-windows-msvc
            build_args: --no-default-features --features prod
            ext: .exe

    env:
      SCCACHE_GHA_ENABLED: true
      RUSTC_WRAPPER: sccache
      CARGO_INCREMENTAL: 0
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Rust
        if: runner.os != 'Windows'
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.RUST_TOOLCHAIN }}
          target: ${{ matrix.target }}
          components: clippy

      - name: Install Rust for Windows
        if: runner.os == 'Windows'
        run: |
          rustup update --no-self-update ${{ env.RUST_TOOLCHAIN }}
          rustup target add ${{ matrix.target }}
          rustup component add clippy --toolchain ${{ env.RUST_TOOLCHAIN }}

      - name: Set default rust version
        run: rustup default ${{ env.RUST_TOOLCHAIN }}

      - name: Sccache cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Cargo registry cache
        uses: actions/cache@v4
        with:
          key: cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}-${{ github.sha }}
          restore-keys: |
            cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}-
            cargo-${{ runner.os }}-
          path: |
            ~/.cargo/registry
            ~/.cargo/git

      - name: Prepare build environment for macOS & Linux
        run: bash ./ci/prepare_build_environment.sh
        if: runner.os != 'Windows'

      - name: Prepare build environment for Windows
        run: ./ci/prepare_build_environment.ps1
        if: runner.os == 'Windows'

      - name: Build release binary
        run: cargo build ${{ matrix.build_args }} --release --target ${{ matrix.target }} --package tabby

      - name: Rename release binary
        run: mv target/${{ matrix.target }}/release/tabby${{ matrix.ext }} tabby_${{ matrix.binary }}${{ matrix.ext }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          retention-days: 3
          name: tabby_${{ matrix.binary }}${{ matrix.ext }}
          path: tabby_${{ matrix.binary }}${{ matrix.ext }}

  pre-release:
    needs: [release-binary]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4

      - name: Display structure of downloaded files
        run: ls -R

      - name: Creating distribution bundles
        run: |
          get_file_extension() {
            local filename="$1"
            # Check if the file has an extension
            if [[ "$filename" == *.* && ! "$filename" == .* ]]; then
              echo ".${filename##*.}"
            else
              echo ""
            fi
          }

          dist_dir=$(pwd)/dist
          mkdir -p $dist_dir

          for tabby in tabby_*/tabby_*; do
            tabbyb=$(basename $tabby)
            extname=$(get_file_extension $tabbyb)
            tabbyn=${tabbyb%.*}

            echo "Creating bundle for $tabbyn"

            build_dir=build
            release_name=$tabbyn
            release_dir=$build_dir/$release_name
            mkdir -p $release_dir
            cp $tabby $release_dir/tabby${extname}

            pushd $build_dir
            # Release zip for Windows, tar.gz for macOS and Linux
            # use `extname` to determine the platform
            if [[ "$extname" == ".exe" ]]; then
              zip -r $release_name.zip $release_name
              mv $release_name.zip $dist_dir/
            else
              chmod +x $release_name/tabby${extname}
              tar zcvf $release_name.tar.gz $release_name
              mv $release_name.tar.gz $dist_dir/
            fi
            rm -rf "$release_name"
            popd
          done

      - name: Display structure of created files
        run: ls -R dist

      - uses: ncipollo/release-action@v1
        if: github.event_name == 'push'
        with:
          allowUpdates: true
          prerelease: true
          makeLatest: false
          artifacts: "dist/tabby_*.zip,dist/tabby_*.tar.gz"
          tag: ${{ github.ref_name }}
          removeArtifacts: true
